* {
    margin: 0%;
        padding-top: px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 2px;
    background-color:#a9b9c7;
    color: #2D7A8D ;
    font-family: 'Courgette', cursive;
    font-weight: 500;
    font-size: 30px;
    line-height: 180%;
 
body{ 
    max-width: 980px;}
}
h1{
    margin-left: 50px;
    
    display: inline-block;
}


main{
    display:flex;
    margin-top: auto;
}

.input-text{
    margin-top: 45px;
    margin-left: 90px;
    margin-bottom: 0px;
    border-radius: 35px 0px 35px 0px;
    -moz-border-radius: 35px 0px 35px 0px;
    -webkit-border-radius: 35px 0px 35px 0px;
    border: 2px solid #063254;
   
    text-align: center;
}

#output-text{
   
    width: 650px;
    height: 400px;
    margin-top: 0px;
    margin-left: 300px;
    
    border-radius: 35px 0px 35px 0px;
    -moz-border-radius: 35px 0px 35px 0px;
    -webkit-border-radius: 35px 0px 35px 0px;
    border: 2px solid #063254;
    color: #2D7A8D;
    text-align: center;
  
}
#output-text::placeholder{
    background-image: url(images/secretnew.png);
    background-repeat: no-repeat;
    background-size: 550px;
    height: 400px;
    background-position: center;
}

h6{
    margin-top: 0px;
    margin-left: 30px;
}
.button{
    background-color: #063254;
    border-radius: 35px 0px 35px 0px;
    -moz-border-radius: 35px 0px 35px 0px;
    -webkit-border-radius: 35px 0px 35px 0px;
    border: 2px solid #2D7A8D;
    margin-top: 50px;
    margin-left: 150px;
    margin-bottom: 0px;
}

.button:hover{
    color: #dfd7e4;
}



#btn{
    background-color: #063254;
    display: block;
    margin-top: 15px;
    margin-left: 590px;
    border-radius: 35px 0px 35px 0px;
    -moz-border-radius: 35px 0px 35px 0px;
    -webkit-border-radius: 35px 0px 35px 0px;
    border: 2px solid #2D7A8D;
}
#btn:hover{
    color: #dfd7e4;
}

